// .partners.list {
//   display: flex;
//   justify-content: center;
// }

.partners .button-company {
  width: 210px;
  height: 90px;

  background-color: transparent;
  border: 1px solid $button-company-color;
  fill: $button-company-color;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  transition: all 250ms $timing-cube;

  &:hover,
  &:focus {
    border: 1px solid $accent-text-color;
    fill: $accent-text-color;
  }
}

.partners.list {
  display: flex;
  flex-wrap: wrap;
}

.partners > .item {
  margin-bottom: 30px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .partners > .item {
    &:not(:last-child) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  //TABLET
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .partners .button-company {
      width: 226px;
    }
    .partners > .item {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

//DESKTOP
@media screen and (min-width: 1200px) {
  .partners .button-company {
    width: 170px;
  }
  .partners.list {
    display: flex;
    justify-content: center;
  }
}
