/* акцентирующий цвет текста #2196F3 */
/* основной цвет текста #212121 */
/* второстепенный цвет текста #757575 */
/* основной цвет фона #FFFFFF */
/* второстепенный цвет фона #F5F4FA */
/* цвет фона футера #2F303A */

$accent-text-color: #2196f3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$button-company-color: #afb1b8;
$timing-cube: cubic-bezier(0.4, 0, 0.2, 1);
